# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
tensorflow
tensorflow_io

# data viz
matplotlib
ipywidgets

# API
gcsfs
google-cloud-storage
s3fs
fastapi
uvicorn
python-multipart
pytest-shutil

# utilities
six>=1.14
joblib
memoized-property
termcolor

# tests/linter
black
coverage
flake8
pytest
yapf